$purple: #2e018a;
$pink: #e40385;
$black: #000;
$grey: #9790a4;

.selectionWrapper{
    width: 100%;
    padding: 15pt 0;    
}

.selectButton{
    margin: 10pt 0;
    padding: 5pt 10pt;
    border-radius: 100vw;
    text-align: center;
    font-size: 14pt;
    font-weight: 400;
    box-shadow: 
        0 0 30px rgba(0,0,0,0.05),
        2px 2px 5px rgba(0,0,0,0.15);
    text-transform: uppercase;
    cursor: pointer;
}

.highlight{
    color: $pink;
    font-weight: 500;
}

.infoBox{
    margin: 15pt 0;
    border: 2px solid $pink;
    padding: 15pt;
    border-radius: 7pt;
    h2{
        margin-bottom: 2pt;
    }
}

.primaryCTA{
    width: 80%;
    background: $pink;
    color: #fff;
    font-size: 16pt;
    font-weight: 500;
    border: none;
    border-radius: 3pt;
    padding: 15pt 5pt;
    margin: 7.5pt 0;
    cursor: pointer;
    text-align: center;
}

.secondaryCTA{
    width: 80%;
    background: #fff;
    color: $purple;
    font-size: 16pt;
    font-weight: 400;
    border: 2pt solid $purple;
    border-radius: 3pt;
    padding: 15pt 5pt;
    margin: 7.5pt 0;
    cursor: pointer;
}

.sectionHeader{
    margin: 15pt 0 5pt;
    font-weight: 500;
    font-size: 11pt;
    text-transform: uppercase;
    font-style: italic;
    color: $grey;
}

